<div class="page-header">
  <h1>Registrar movil</h1>
</div>

<div class="row">
  <div class="col-sm-12">
    <form action="/movil" method="post">
      <input type="hidden" name="id" value="<?= $movil['id'] ?? 0 ?>">

      <div class="row">
        <div class="col-sm-4">
          <div>
            <label for="interno" class="control-label">Interno</label>
            <input type="number" name="interno" id="interno"
                   value="<?= $movil['interno'] ?? '' ?>" class="form-control">
          </div>
        </div>
        <div class="col-sm-4">
          <div>
            <label for="placa" class="control-label">Placa</label>
            <input type="text" name="placa" id="placa"
                   value="<?= $movil['placa'] ?? '' ?>" class="form-control">
          </div>
        </div>
        <div class="col-sm-4">
          <div>
            <label for="cantidad_asientos" class="control-label"># Asientos</label>
            <input type="number" name="cantidad_asientos" id="cantidad_asientos"
                   value="<?= $movil['cantidad_asientos'] ?? '' ?>" class="form-control">
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 8px;">
        <div class="col-sm-6">
          <label for="conductor_id" class="control-label">Conductor</label>
          <select name="conductor_id" id="conductor_id" class="form-control">
            <?php foreach($conductores as $conductor): ?>
            <option value="<?= $conductor['id'] ?>"
            <?= ($movil['conductor_id'] ?? 0) == $conductor['id'] ? 'selected' : '' ?>>
            <?= $conductor['nombres'] . ' ' . $conductor['apellidos'] ?>
            </option>
            <?php endforeach; ?>
          </select>
        </div>
      </div>

      <div style="margin-top: 16px; margin-bottom: 16px;">
        <a href="/movil" class="btn btn-sm btn-success">Nuevo</a>
        <button type="submit" class="btn btn-sm btn-primary">Guardar</button>
      </div>
    </form>
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm-12">
    <table id="simple-table" class="table  table-bordered table-hover">
      <thead>
      <tr>
        <th>Interno</th>
        <th>Placa</th>
        <th>Asientos</th>
        <th>Conductor</th>
        <th width="50"></th>
      </tr>
      </thead>
      <tbody>
      <?php foreach($moviles as $item): ?>
      <tr>
        <td><?= $item['interno'] ?> </td>
        <td> <?= $item['placa'] ?> </td>
        <td> <?= $item['cantidad_asientos'] ?> </td>
        <td> <?= $item['nombres'] ?> <?= $item['apellidos'] ?> </td>
        <td>
          <a href="/movil/<?= $item['id'] ?>" class="btn btn-xs btn-success">Ver</a>
        </td>
      </tr>
      <?php endforeach; ?>
      </tbody>
    </table>
  </div>
</div>
